<div>
    <p align="right">
        <a name="bkmpage0"></a>
    </p>
    <h1 align="center">
        HVAC Rebate App
    </h1>
    <h1 align="center">
        End User License Agreement
    </h1>
    <p>
        <strong>1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Introduction for Authorized Users.</strong>
    </p>
    <p>
        <strong> </strong>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The following End User License Agreement ("<strong>Agreement</strong>" and/or "<strong>EULA</strong>") constitutes a binding contract between ICF
        International ("<strong>ICF</strong>") and "you," (and similar terms such as "your') the person or entity entering into this Agreement. If you are
        entering into this Agreement on behalf of your employer or an entity, "you" includes and binds both yourself as an individual and the entity on whose
        behalf you are acting.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Agreement establishes the rules, restrictions, and obligations concerning your use of a software application or "app" known as the ICF HVAC Rebate
        App or similar terms. The "<strong>Rebate App Materials"</strong> includes all items provided to and/or downloaded or access by you related to ICF HVAC
        Rebate App, including software, information, data, images, reports, links, and similar items. The Rebate App Materials are made available to you only
        so long as you agree to the terms of this EULA. The Rebate App Materials are provided to you, free of charge, for the purpose of assisting you in
        participating in energy efficiency rebate programs for which you may be eligible. The Rebate App Materials may include information and content from
        third parties such as descriptions of rebate opportunities provided by your utility company. IN ADDITION TO THE OTHER DISCLAIMERS BELOW, ICF DISCLAIMS
        ANY AND ALL RESPONSIBILITY AND/OR LIABILITY FOR ANY INFORMATION OR OTHER ITEM PROVIDED BY ANY THIRD PARTY AND YOU AGREE NOT TO PURSUE ANY CLAIM OF ANY
        KIND AGAINST ICF ARISING FROM OR RELATED TO ANY THIRD PARTY MATERIALS OR YOUR DEALINGS WITH ANY THIRD PARTY.
    </p>
    <p>
        YOU SHOULD READ THESE TERMS CAREFULLY, because you will be required to indicate your understanding of and your affirmative agreement to the terms of
        this Agreement before you will be able to activate the features of the App,
        <em>
            <u>
                and because if you do not comply with and abide by this Agreement, your use of the Rebate App Materials may be suspended or terminated, and you
                may be subject to civil and/or criminal liability including for, among other things, infringement of intellectual property
            </u>
        </em>
        . ICF reserves the right, in its sole and absolute discretion, to change, modify, update, and interpret this EULA at any time, and you agree to be
        bound by those changes, modifications, updates and interpretations upon ICF's providing written notice to you. If you do not agree with any such
        revision or update, you must stop using the App and all Rebate App Materials.
    </p>
    <p>
        <strong>2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access for Authorized Users Only</strong>.
        Your use of the App, including all Rebate App Materials, requires that you receive a User Name and Password. Once you have received a User Name and
        Password, you are considered an "Authorized User."<a name="bkmpage1"></a>
    </p>
    <p>
        <strong>3. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;License</strong>.
        Under and subject to this Agreement, Authorized Users are granted a non-exclusive, non-refundable, revocable, non-transferable, limited right to make
        user of the Rebate App Materials for the limited purpose(s) of submitting rebate request information for eligible participants in accordance with
        energy efficiency rebate programs ("<strong>License</strong>").
    </p>
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obligations upon Registration.</strong>
        When you register to become an Authorized User, you agree to provide true, accurate, complete, and current contact and application information
        specifically pertaining to you (referred to hereinafter as "<strong>Registration Data</strong>"), and to maintain and promptly update the Registration
        Data to keep it true, accurate, current, and complete. You acknowledge and agree that if any Registration Data provided by you is untrue, inaccurate,
        not current or incomplete, ICF and ICF's Partners reserve the right, in their sole discretion, to refuse to grant you a License, or to suspend or
        terminate forever any License already granted to you.
    </p>
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usernames and Passwords.</strong>
        You understand, acknowledge, and agree that you are solely responsible for ensuring the confidentiality of your username and password, and you agree
        not to disclose to any other person or entity your username and/or password or to otherwise share your License with any other person or entity.
        Further, you hereby agree not to lend, lease, license, sublicense, transfer, assign, sell, or resell your License, or your use of your username and
        password, or your access to the Services to any third party. You understand, acknowledge, and agree that you are solely responsible for maintaining the
        confidentiality of your username and password and for any and all uses of the Rebate App Materials whether performed by you or by any other party. You
        must notify ICF immediately of any breach of security, any unauthorized use of your account, or if you have reason to believe that your account is no
        longer secure.
    </p>
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Limitations on Your Access and Prohibited Uses.</strong>
        You understand, acknowledge, and agree that you will not --
    </p>
    <p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alter, modify, edit, amend, abridge, add to, delete from, adapt, repackage, or change any of the Rebate App Materials (including in all cases any
		underlying software code);
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remove any notices of copyright, any watermarking, or any other proprietary notices or language referring to ICF's or a third party's ownership of the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;copy, reproduce, publish, distribute, or redistribute any of the Rebate App Materials other than for your own personal use consistent with the
        intended purpose of the App;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sell, resell, lend, lease, license, sublicense, assign, or otherwise transfer or attempt to transfer the License, the Rebate App Materials, , or
        any Intellectual Property Rights of ICF or its licensors;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;provide any other person or entity access to the Rebate App Materials including by means of your username and/or your password;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(6). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lend, lease, license, sublicense, transfer, assign, sell, or resell your username(s) and password(s) to any other person or entity;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(7). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;decompile, disassemble, translate or reverse engineer any portion of the Rebate App Materials or otherwise discover or duplicate any technology,
        routines, computer software, algorithms, methods or underlying ideas or design or user interface techniques included in any portion of the Rebate App
        Materials, or make or attempt to make any form of derivative work based on or including any of the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(8). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make or attempt to make any non-personal commercial use or exploitation of any of the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(9). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;circumvent, disable or otherwise interfere with the security features of the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;collect or harvest any personally identifiable information, including usernames and passwords, from the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(11). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;create multiple accounts by manual or automated means or under false or fraudulent pretenses;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(12). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transmit any viruses, worms, defects, Trojan horses or other code sequence or routines of a destructive nature through the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(13). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use the Rebate App Materials to violate the security of any computer network, to crack passwords or security encryption codes, or to transfer or
        store illegal material;
    </p>
    <p>
        <a name="bkmpage3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(14). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use any device, software or routine that interferes with the proper working of the Rebate App Materials; </a>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(15). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;claim the Rebate App Materials as your property, your creation, or your work of authorship, in whole or in part;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(16). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contest or dispute ICF's and/or ICF's third party licensors' ownership of all intellectual property rights in the Rebate App Materials;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(17). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use any of the Rebate App Materials after the termination date of your License;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(18). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fail at any time to provide true, accurate, complete, and current Registration Data;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(19). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use the Rebate App Materials in any manner not authorized by this EULA; or
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(20). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use the Rebate App Materials for the purpose of or in the furtherance of any violation of any law, fraud, theft, false claim, or similar action.
    </p>
    <p>
        YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT ANY VIOLATION OF THE FOREGOING PROVISIONS 3.C.(1)-(20). MAY, IN ICF'S SOLE DISCRETION AND JUDGMENT, SUBJECT
        YOU TO THE IMMEDIATE SUSPENSION OR TERMINATION OF YOUR LICENSE, AND MAY SUBJECT YOU TO CRIMINAL LIABILITY AND/OR LIABILITY FOR DAMAGES, COSTS,
        EXPENSES, OR FEES (INCLUDING ATTORNEY'S FEES) INCURRED BY ICF IN ENFORCING ITS RIGHTS UNDER THIS AGREEMENT.
    </p>
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Term.</strong>
        The period of time in which you will be able to access the Website begins on the day you activate your License by consenting to this Agreement and
        shall continue for a term of one year ("<strong>Term</strong>"). Thereafter, the Agreement shall automatically renew for additional terms of one year
        each unless terminated earlier.
    </p>
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Transfer of Rights.</strong>
        You understand and acknowledge that the license and rights granted herein are explicitly a license and not a sale or transfer of rights, and that the
        license consists solely of access to the Rebate App Materials. ICF and ICF's licensors retain all their respective ownership rights, including all
        Intellectual Property Rights (as defined in Section 10), to the Rebate App Materials.
    </p>
    <p>
        <strong>4. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suspension. </strong>
        You understand, acknowledge, and agree that ICF may, in its sole discretion and judgment, suspend or terminate your License and your access to the
        Rebate App Materials, in whole or in part, in the event of any breach or violation by you of any of the provisions of this Agreement.
    </p>
<p>
    <strong>5. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Termination. </strong></a>
    ICF may terminate this Agreement immediately, with or without notice, in whole or in part. You may terminate this Agreement in its entirety by stopping
    your use of the App and all use of the Rebate App Materials. Those sections which by their nature are intended to survive expiration or termination of this
    Agreement shall survive.
</p>
<p>
    <strong>6. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Representations and Warranties. </strong>
    You represent and warrant the following in respect of this Agreement:
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A</strong>
    <strong>. </strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You have the necessary authority to enter into this Agreement;
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You shall cooperate with all of the instructions, rules, and procedures provided by ICF relating to the App;
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C</strong>
    <strong>.</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You have provided and will continue to provide true, accurate, current, and complete Registration Data throughout the Term; and
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D</strong>
    <strong>.</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You will comply with all laws and regulations in the course of using the Rebate App Materials.
</p>
<p>
    <strong>7. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indemnification. </strong>
    You shall indemnify and hold harmless ICF and ICF's licensors, their officers, directors, employees, agents, and representatives from any loss, damage or
    expense (including reasonable legal costs) that ICF and/or ICF's licensors incur or become liable for as a result of any breach by you of any portion of
    this EULA; any negligent, reckless or willful act or omission by you or your agents; any failure by you to comply with applicable laws in performing under
this Agreement; any misuse by you of the Rebate App Materials. You shall reimburse ICF and/or ICF's licensors for their expenses under this    <a name="bkmpage5"></a> Section as they are incurred.
</p>
<p>
    <strong>8.</strong>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third-Party Components.</strong>
    You understand and agree that your use of any and all third-party hardware, software, services, telecommunication services (including Internet
    connectivity, Apple's iTunes or App Store, or Google's Play Store), or other items used by you in conjunction with the App are the sole and exclusive
    responsibility of you, and that ICF has no responsibility for such third-party components, services, or your relationships with such third parties. ICF
    does not represent or warrant that the Rebate App Materials are compatible with any specific third-party hardware, software or other item. You agree that
    you shall at all times comply with the lawful terms and conditions of your agreements with such third parties. You are responsible for providing and
    maintaining an operating environment as reasonably necessary to accommodate the Rebate App Materials.
</p>
<p>
    <strong>9. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Collection and Use.</strong>
    You understand, agree, and acknowledge that ICF and/or other entities involved in the administration of the applicable rebate program may collect, use and
    share information and data provided by you through the App, including information that is both identifiable to you (such as your name, address, and email
    address) and in aggregate or de-identified form. ("<strong>Data</strong>"). ICF and/or the applicable third parties may use, share, commercialize, and
    retain this Data for any purpose, including improving or modifying the Rebate App Materials, without any compensation or royalty owed to you. ICF may
    communicate with you through any contact information provided by you to us, including but not limited to telephone, mobile-phone, text, fax, email, regular
    mail, social media account or messaging service.
</p>
<p>
    <strong>10. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Intellectual Property Rights Ownership. </strong>
    "Intellectual Property Rights" means any and all rights belonging to ICF and/or ICF's third party licensors and existing under patent law, copyright law,
    semiconductor chip protection law, trade secret law, trademark law, unfair competition law, publicity rights law, privacy rights law, and any and all other
    proprietary rights, and any and all applications, renewals, extensions and restorations thereof, now or hereafter in force and effect worldwide, in any
    intellectual property, which includes, but is not limited to, patentable inventions, ideas, and processes, trade secrets, trademarks, trade names,
    copyrightable works, and any confidential information. As between you and ICF, ICF shall retain all its respective titles, interests, and ownership in the
    Rebate App Materials, and you understand and acknowledge that you do not own any Intellectual Property Rights regarding the Rebate App Materials.
</p>
<p>
    <a name="bkmpage6"><strong> </strong></a>
</p>
<p>
    <strong>11. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Representations and Warranties of ICF.</strong>
    ICF represents and warrants:
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A</strong>
    <strong>.</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;That to its knowledge the Rebate App Materials do not infringe any Intellectual Property Rights of any third party; and
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;That it is authorized and has all authority necessary to enter into and perform under this Agreement, and that this Agreement constitutes a binding and
    enforceable agreement between you and ICF.
</p>
<p>
    <strong>12. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO OTHER WARRANTIES. </strong>
    ICF'S' REPRESENTATIONS AND WARRANTIES THAT ARE EXPRESSLY SET FORTH IN THIS AGREEMENT ARE THE ONLY REPRESENTATIONS AND WARRANTIES PROVIDED BY ICF RESPECT TO
    THE REBATE APP MATERIALS AND ANY OTHER RELATED ITEM PROVIDED BY ICF. NOTWITHSTANDING ANYTHING ELSE IN THIS AGREEMENT, TO THE MAXIMUM EXTENT PERMITTED BY
    APPLICABLE LAW, SUBJECT ONLY TO THE EXPRESS WARRANTIES PROVIDED UNDER THE AGREEMENT, ALL SERVICES, CONTENT, THE APP AND REBATE APP MATERIALS, AND ANY OTHER
    ITEMS ARE PROVIDED ON AN "AS-IS," AND "AS-AVAILABLE" BASIS. ICF AND ITS THIRD PARTY LICENSORS EXPRESSLY DISCLAIM ANY AND ALL OTHER WARRANTIES, EXPRESS OR
    IMPLIED, INCLUDING, WITHOUT LIMITATION, THE FOLLOWING: ANY AND ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
    NON-INFRINGEMENT; ANY WARRANTY REGARDING RESULTS OBTAINABLE OR TO BE OBTAINED BY YOU OR ANY AUTHORIZED USER AS A RESULT OF PROVISION OR USE OF THE REBATE
    APP MATERIALS; AND ANY WARRANTY OF UNINTERRUPTED OR ERROR-FREE OPERATION OF OR ACCESS TO THE REBATE APP MATERIALS. ICF AND ICF'S THIRD PARTY LICENSORS
    RESERVE THE RIGHT TO MODIFY AND OR REMOVE ANY PORTION OF THE REBATE APP MATERIALS INCLUDING ANY CONTENT, AT ANY TIME, WITH OR WITHOUT NOTICE. NO ORAL OR
    WRITTEN INFORMATION BY ICF OR ITS THIRD PARTY LICENSORS OR ANY OTHER ENTITY OR PERSON SHALL CREATE ANY ADDITIONAL REPRESENTATION OR WARRANTY BY ICF OR ITS
    THIRD PARTY LICENSORS. ICF AND ITS THIRD PARTY LICENSORS ARE NOT LIABLE FOR ANY DAMAGES THAT YOU OR ITS OTHER AUTHORIZED USERS OR OTHER THIRD PARTIES MAY
    SUFFER ARISING OUT OF USE, DELAY IN PROVIDING, OR INABILITY TO USE, THE REBATE APP MATERIALS. ICF HAS NO OBLIGATION TO MAINTAIN, SUPPORT OR UPDATE THE
    REBATE APP MATERIALS. INFORMATION DISPLAYED THROUGH THE REBATE APP MATERIALS ARE FOR INFORMATIONAL PURPOSES ONLY AND WHILE PROVIDED AS A CONVENIENCE
    THROUGH THE APP, MAY NOT STATE THE MOST UP-TO-DATE INFORMATION. ICF AND ITS THIRD PARTY LICENSORS RESERVE THE RIGHT TO CORRECT OR UPDATE ANY INFORMATION
    DISPLAYED ON OR THROUGH THE REBATE APP MATERIALS, WHICH MAY INCLUDE REVISIONS TO REBATE ELIGIBILITY, STATUS, OR SIMILAR INFORMATION.<a name="bkmpage7"></a>
    ICF IS NOT LIABLE FOR UNAUTHORIZED ACCESS TO OR ALTERATION, THEFT OR DESTRUCTION OF ANY OF YOUR OR ITS OTHER AUTHORIZED USERS' INFORMATION OR DATA.
</p>
<p>
    <strong>13. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PLATFORM DISCLAIMER.</strong>
    THE REBATE APP MATERIALS (AND UNDERLYING TECHNOLOGY SUPPORTING THE REBATE APP MATERIALS) MAY CONTAIN ERRORS, GLITCHES, BUGS, OR OTHER DEFECTS, AND YOU
    UNDERSTAND AND ACKOWLEDGE THAT YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN THE EVENT OF YOUR OR YOUR DISSATISFACTION WITH THE REBATE APP MATERIALS AND
    RELATED ITEMS IS FOR YOU TO NOTIFY ICF ABOUT SUCH DISSATISFACTION (AND WHILE ICF MAY TAKE ACTION, NO ACTION IS REQUIRED) AND/OR FOR YOU TO STOP USING THE
    REBATE APP MATERIALS AND TERMINATE THIS AGREEMENT.
</p>
<p>
    <a name="bkmpage8"><strong>14. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIMITATION OF LIABILITY FOR ICF AND ITS THIRD PARTY LICENSORS. </strong></a>
    IN NO EVENT WILL ICF'S LIABILITY OR THAT OF ICF'S THIRD PARTY LICENSORS UNDER THIS AGREEMENT OR IN CONNECTION WITH THE REBATE APP MATERIALS, REGARDLESS OF
    THE CLAIM OR FORM OF ACTION, INCLUDE ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES OR CLAIMS FOR LOSS OF BUSINESS OR PROFITS, UNDER CONTRACT,
    TORT (INCLUDING NEGLIGENCE), OR OTHER LEGAL THEORY, REGARDLESS OF THE CAUSE OF ACTION AND EVEN IF ICF AND ICF'S LICENSORS HAVE BEEN ADVISED OF THE
    POSSIBILITY OF SUCH POTENTIAL LOSS OR DAMAGE. YOU AGREE THAT ICF'S AND ICF'S LICENSORS' MAXIMUM AGGREGATE LIABILITY TO YOU OR ANY ENTITY WITH RIGHTS
    THROUGH YOU UNDER OR RELATING TO THIS AGREEMENT UNDER THEORIES OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, REGARDLESS OF THE CAUSE
    OF ACTION, WILL NOT EXCEED AN AMOUNT, IN AGGREGATE, EQUAL TO THE FEES PAID BY YOU SPECIFICALLY FOR USE OF THE REBATE APP MATERIALS IN THE PREVIOUS SIX (6)
    MONTHS. <a name="bkmpage9"></a>
</p>
<p>
    <strong>15. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Export Restrictions. </strong>
    You acknowledge that the Rebate App Materials are of U.S -origin, and agree to comply with all applicable international and national laws that apply to the
    Rebate App Materials, including the U.S. Export Administration Regulations, as well as end-user, end-use and country destination restrictions issued by the
    U.S. and other governments.
</p>
<p>
    <strong>16. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Government End Users</strong>. If you are acquiring the Rebate App Materials on behalf of any unit or agency of the United States Government,
    it is provided to the Government only with restricted rights and limited rights. Use, duplication, or disclosure by the Government is subject to
    restrictions set forth in FAR Sections 52-227-14 and 52-227-19 or DFARS Section 52.227-7013(C)(1)(ii), as applicable. The Rebate App Materials and
    documentation, if any, are "Commercial Items," as that term is defined at 48 C.F.R. &sect;2.101, consisting of "Commercial Computer Application" and "Commercial
    Computer Application Documentation," as such terms are used in 48 C.F.R. &sect;1 2.21 2 or 48 C.F.R. &sect;227.7202, as applicable.<strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
    <strong>General Provisions</strong>
    . You may not assign, transfer, or license this Agreement, in whole or in part, without ICF's prior written consent. Except as otherwise provided, all
    notices, authorizations, and requests in connection with this Agreement shall be in writing. This Agreement contains your entire understanding with ICF
    with respect to the subject matter and supersedes any and all prior oral or written proposals or understanding. No modification of this Agreement is
    binding unless in writing and signed by you, your Subscriber, and ICF. This Agreement shall be governed by and construed in accordance with the laws of
    Virginia, and you hereby consent and absolutely agree to the jurisdiction of state and federal courts sitting in Fairfax County, Virginia for resolving any
    disputes arising under this Agreement which cannot be resolved by negotiations between you and ICF. The parties hereby agree that this Agreement is not
    governed by the United Nations Convention on Contracts for the International Sale of Goods. If a particular provision of this Agreement is terminated or
    held by a court or competent jurisdiction to be invalid, illegal or unenforceable, the Agreement shall remain in full force and effect as to the remaining
    provisions. Neither this Agreement, nor any terms and conditions contained herein shall be construed as creating a partnership, joint venture, franchise or
    agency relationship between you and ICF.<a name="bkmpage10"></a>
</p>
